[submodule "janus"]
	path = janus
	url = https://github.com/jsdalton/janus-submodules
  ignore = dirty
[submodule "submodules/powerline-fonts"]
	path = submodules/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim-es6"]
	path = vim-es6
	url = https://github.com/isRuslan/vim-es6
