Fabric==1.8.3
Powerline==beta
ecdsa==0.11
flake8==2.2.2
jrnl==1.9.6
keyring==4.0
mccabe==0.2.1
paramiko==1.12.3
parsedatetime==1.4
pep8==1.5.7
pycrypto==2.6.1
pyflakes==0.8.1
python-dateutil==1.5
pytz==2014.7
requests==2.2.1
six==1.8.0
termcolor==1.1.0
tzlocal==1.1.1
vboxapi==1.0
virtualenv==1.11.6
wsgiref==0.1.2
